.h1, h2, h3{
    color: #0081A7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.body{
    font-family: 'open sans', sans-serif;
    font-size: 16px;
    background-color: lightgrey;
}

.header, footer{
    background-color: goldenrod;
}

