body{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header, footer{
    margin: 0 auto;
    border: 5px solid #BC6C25;
    padding: .5rem;
    background-color: green;
    display: grid;
    align-items: center;
    justify-content: center; 
}

header{
    grid-template-columns: 200px 1fr; 
}

main{
    margin: 1rem auto;
}

footer{
    grid-template-columns: 1fr 300px;
}

h1{
    font-size: 2.2rem;
    color: green;  
}

h2{
    color: green;
}

/* Class Selectors */
.page{
    max-width: 960px; 
    margin: 0 auto;
}

.logo{
    width: 100px;
    height: auto;
}

.social{
    width: 100px;
    height: auto;
}